{% extends 'base.html.twig' %}

{% block title %}Contracts{% endblock %}

{% block body %}
    <h1>Contracts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contract.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ contract.number }}</td>
            </tr>
            <tr>
                <th>SignatureDate</th>
                <td>{{ contract.signatureDate ? contract.signatureDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Player</th>
                <td>{{ contract.player }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contracts_index') }}">back to list</a>

    <a href="{{ path('app_contracts_edit', {'id': contract.id}) }}">edit</a>

    {{ include('contracts/_delete_form.html.twig') }}
{% endblock %}
